server {
    listen 80;
    listen [::]:80;
    server_tokens off;
    server_name localhost;

    location / {
        root /etc/build;
        index index.html;
        try_files $uri $uri/ /index.html;
    }
}

#server {
#    listen 80;
#    listen [::]:80;
#    server_tokens off;
#    server_name localhost;

#    location / {
#        proxy_pass http://api-upstream;
#        proxy_set_header Host $host;
#        proxy_set_header X-Real-IP $remote_addr;
#        proxy_set_header X-Forwarded-Proto $scheme;
#    }

#    location /static/ {
#        autoindex on;
#        alias /etc/static/;
#    }

#    location /media/ {
#        autoindex on;
#        alias /etc/media/;
#    }
#}

#upstream api-upstream {
#    server capstone_api:8080;
#}
